<div class="container">
  <!-- Main content -->
  <section class="content">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">My Questions</h3>
      </div>
      <div class="box-body">
        <div class="post" *ngFor="let q of myQuestions">
          <div class="user-block">
            <img class="img-circle img-bordered-sm" src="/assets/img/user.png" alt="user image">
            <span class="username">
              <a [routerLink]="['/questions', q.id]">{{q.title}}</a>
            </span>
            <span class="description">{{q.owner.username}} - {{q.created_at | date:'short'}}</span>
          </div>
          <!-- /.user-block -->
          <p>
            {{ q.description }}
          </p>
          <ul class="list-inline">
            <li *ngFor="let t of q.topics_repr">
              <span class="label label-primary">{{t.name}}</span>
            </li>
            <li class="pull-right">
              <span class="text-sm">
                <i class="fa fa-comments-o margin-r-5"></i> Answers ({{q.answers.length}})
              </span>
            </li>
          </ul>
        </div>
        <div class="callout callout-info" *ngIf="myQuestions?.length == 0">
          <h4>No question found</h4>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.container -->
