<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html">
      <b>Forum</b>APP</a>
  </div>

  <div class="register-box-body" *ngIf="!registerDone; else successMessage">
    <p class="login-box-msg">Register a new membership</p>
    <form [formGroup]="registerForm" (submit)="register()">
      <p class="text-red" *ngFor="let err of registerErrors?.non_field_errors">{{ err }}</p>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Username" formControlName="username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <p class="text-red" *ngFor="let err of registerErrors?.username">{{ err }}</p>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <p class="text-red" *ngFor="let err of registerErrors?.email">{{ err }}</p>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <p class="text-red" *ngFor="let err of registerErrors?.password">{{ err }}</p>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="tos"> I agree to the
              <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!registerForm.valid">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a routerLink="/auth/login" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->

  <ng-template #successMessage>
    <div class="register-box-body">
      <h3 class="login-box-msg">Registration Successful. You can <a routerLink="/auth/login"> log in</a> now!</h3>
    </div>
  </ng-template>
</div>
<!-- /.register-box -->
